body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 24s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7402cc297bdfbb4a4856e764971dc013&auto=format&fit=crop&w=1050&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1526638684360-95cdcee762ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=071a6c105bea7b21f0b0df66bca9d0e5&auto=format&fit=crop&w=1060&q=80);
  animation-delay: 8s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1529458202386-f91afb2705b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ab7b49bf14c894a7e2116fb20c7e4e2&auto=format&fit=crop&w=967&q=80);
  animation-delay: 12s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1470076892663-af684e5e15af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=060facbee716072c04e2877eb2b550e0&auto=format&fit=crop&w=1217&q=80);
  animation-delay: 16s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1515565324614-5b1976a7ada9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2ed0bb617d30b964e9565121960aecd&auto=format&fit=crop&w=1189&q=80);
  animation-delay: 20s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}